[Desktop Entry]
Type=Application
Version=1.0
Name=Candy Crisis
Comment=An exciting combination of pure action and puzzle gaming!
Comment[fr]=Une combinaison palpitante d’action et de réflexion !
Icon=candycrisis
Exec=candycrisis
Terminal=false
Categories=Game;
